
<title>Crear producto</title>
<link rel="stylesheet" href="Css/admin/create.css">
<main class="dimensiones">
    <%if( typeof errors != "undefined"){ errors.forEach(error=>{ %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= error.msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% })} %>
        <h1>CREAR NUEVO ITEM</h1>
     <form id="form" action="/product" method="post" enctype="multipart/form-data">   
        <div class="contenedor">
          <div class="grupo1">
            <div class="parent">
                  <span>Categoria:</span>
                  <select name="categoria_id" id="categoria">
                      <option value=""></option>
                     <% categorias.forEach(categoria=>{ %>
        <option value="<%=categoria.id%>" <%= values.categoria_id==categoria.id ? 'selected' : '' %> > <%=categoria.name %> </option>
                   <%  }) %>
                  </select>
                  <div class="input"></div>
            </div>
          </div>
            <div class="grupo1">
              <div class="parent">
                    <span>Licencia:</span>
                    <select name="licencia" id="licencia">
                        <option value="<%=values.licencia%>"></option>
                        <option value="">comercial</option>
                        <option value="">extendida</option>
                    </select>
                    <div class="input"></div>
              </div>
            </div>
        </div>
        <div class="contenedor-input">
          <div class="parent">  
            <span>Nombre del producto:</span>
            <input type="text" id="name" name="name" value="<%=values.name%>" placeholder="Kakashi Hatake Shippuden Saga">
            <div class="input"></div>
          </div>
        </div>
        <div class="text-area">
          <div class="parent">
            <textarea name="descripcion" placeholder="Descripción del producto" id="descripcion" cols="30" rows="10"><%= values.descripcion %></textarea>
            <div class="input"></div> 
          </div>  
        </div>
        <div class="contenedor-grupo">
            <div class="grupo2">
              <div class="parent">  
                <span>SKU:</span>
                <input id="sku" placeholder="SSK111AB001" name="codigo" value="<%=values.codigo%>" type="text">
                <div class="input"></div> 
              </div>
            </div>
            <div class="grupo2">
              <div class="parent">  
                <span>Precio:</span>
                <input id="precio" name="precio" placeholder="$ 0.000,00" value="<%=values.precio%>" type="text">
                <div class="input"></div> 
              </div>
            </div>
            <div class="grupo2">
              <div class="parent">  
                <span>Stock:</span>
                <input id="stock" value="<%=values.stock%>" name="stock" class="stock" placeholder="0" type="text">
                <div class="input"></div> 
              </div>
            </div>
        </div>
        <div class="contenedor-span">
            <div class="grupo3">
              <div class="parent">
                <span>Descuento:</span>
                <input id="descuento" value="<%=values.descuento%>" name="descuento" class="descuento" placeholder="0%" type="text">
                <div class="input"></div> 
              </div>
            </div>
            <div class="grupo4">
              <div class="parent">
                <span>Cuotas:</span>
                <select name="cuotas" id="cuotas">
                    <option value="<%=values.cuotas%>"></option>
                    <option value="">3 Cuotas sin interés</option>
                    <option value="">6 Cuotas sin interés</option>
                </select>
              <div class="input"></div> 
              </div>
            </div>
        </div>    
        <div class="contenedor-img">
            <span>Imágenes:</span>
            <input type="file" name="image" id="">
        </div>
        <div class="btn">
            <button type="submit">Agregar Producto</button>
            <button type="reset">Limpiar</button>
        </div>
    </form>
    </main>