
<title>Crear producto</title>
<link rel="stylesheet" href="Css/admin/create.css">
<main class="dimensiones">
        <h1>CREAR NUEVO ITEM</h1>
     <form id="form" action="/product" method="post" enctype="multipart/form-data">   
        <div class="contenedor">
          <div class="grupo1">
            <div class="parent">
                  <span>Categoria:</span>
                  <select name="categoria_id" id="categoria" class=" form-control  <%= errors && errors.find(error => error.path === 'categoria_id') ? 'is-invalid' : '' %>">
                      <option value=""></option>
                     <% categorias.forEach(categoria=>{ %>
    <option value="<%=categoria.id%>" <%= values.categoria_id==categoria.id ? 'selected' : '' %> > <%=categoria.name %> </option> 
    <%  }) %>
                  </select>
                      <% if (typeof errors !== "undefined") { %>
                                <% const categoria_idError = errors.find(error => error.path === 'categoria_id'); %>
                                <div class="textarea-error-msg">
                                   <%= categoria_idError ? categoria_idError.msg : '' %>
                                </div>
                            <% } %>
            </div>
          </div>
            <div class="grupo1">
              <div class="parent">
                    <span>Licencia:</span>
                    <select name="licencia" id="licencia">
                        <option value="<%=values.licencia%>"></option>
                        <option value="">comercial</option>
                        <option value="">extendida</option>
                    </select>
                    <div class="input"></div>
              </div>
            </div>
        </div>
        <div class="contenedor-input">
          <div class="parent">  
            <span>Nombre del producto:</span>
            <input type="text" id="name" name="name" class=" form-control  <%= errors && errors.find(error => error.path === 'name') ? 'is-invalid' : '' %>" value="<%=values.name%>" placeholder="Kakashi Hatake Shippuden Saga">
               <% if (typeof errors !== "undefined") { %>
                                <% const nameError = errors.find(error => error.path === 'name'); %>
                                <div class="invalid-feedback">
                                   <%= nameError ? nameError.msg : '' %>
                                </div>
                            <% } %>
          </div>
        </div>
        <div class="text-area">
          <div class="parent">
            <textarea name="descripcion"   class="form-control   <%= errors && errors.find(error => error.path === 'descripcion') ? 'is-invalid' : '' %>" placeholder="Descripción del producto" id="descripcion" cols="30" rows="10"><%= values.descripcion %></textarea>
               <% if (typeof errors !== "undefined") { %>
                                <% const descripcionError = errors.find(error => error.path === 'descripcion'); %>
                                <div class="textarea-error-msg">
                                   <%= descripcionError ? descripcionError.msg : '' %>
                                </div>
                            <% } %>
          </div>  
        </div>
        <div class="contenedor-grupo">
            <div class="grupo2">
              <div class="parent">  
                <span>SKU:</span>
                <input id="sku" placeholder="SSK111AB001" name="codigo" class=" form-control  <%= errors && errors.find(error => error.path === 'codigo') ? 'is-invalid' : '' %>" value="<%=values.codigo%>" type="text">
                   <% if (typeof errors !== "undefined") { %>
                                <% const codigoError = errors.find(error => error.path === 'codigo'); %>
                                <div class="invalid-feedback">
                                   <%= codigoError ? codigoError.msg : '' %>
                                </div>
                            <% } %>
              </div>
            </div>
            <div class="grupo2">
              <div class="parent">  
                <span>Precio:</span>
                <input id="precio" name="precio" class=" form-control  <%= errors && errors.find(error => error.path === 'precio') ? 'is-invalid' : '' %>" placeholder="$ 0.000,00" value="<%=values.precio%>" type="text">
                   <% if (typeof errors !== "undefined") { %>
                                <% const precioError = errors.find(error => error.path === 'precio'); %>
                                <div class="invalid-feedback">
                                   <%= precioError ? precioError.msg : '' %>
                                </div>
                            <% } %>
              </div>
            </div>
            <div class="grupo2">
              <div class="parent">  
                <span>Stock:</span>
                <input id="stock" value="<%=values.stock%>" name="stock" class="stock" placeholder="0" type="text">
                <div class="input"></div> 
              </div>
            </div>
        </div>
        <div class="contenedor-span">
            <div class="grupo3">
              <div class="parent">
                <span>Descuento:</span>
                <input id="descuento" value="<%=values.descuento%>" name="descuento" class="descuento" placeholder="0%" type="text">
                <div class="input"></div> 
              </div>
            </div>
            <div class="grupo4">
              <div class="parent">
                <span>Cuotas:</span>
                <select name="cuotas" id="cuotas">
                    <option value="<%=values.cuotas%>"></option>
                    <option value="">3 Cuotas sin interés</option>
                    <option value="">6 Cuotas sin interés</option>
                </select>
              <div class="input"></div> 
              </div>
            </div>
        </div>    
        <div class="contenedor-img">
            <span>Imágenes:</span>
            <input type="file" name="image" id="">
        </div>
        <div class="btn">
            <button type="submit">Agregar Producto</button>
            <button type="reset">Limpiar</button>
        </div>
    </form>
    </main>