<link rel="stylesheet" href="Css/admin/contact.css">
<title>Contacto</title>
 <main>
        <section class="main">
            <h2>Contactános</h2>
            <div class="container-contact">
                <form action="/contact" method="post">
                    <div class="container-info">
                        <div class="container-input">
                            <label for="name">Nombre: </label>
                            <input type="text" name="name" id="name" value="<%=values.name%>" 
                                   class="form-control <%= errors && errors.find(error => error.path === 'name') ? 'is-invalid' : '' %>"
                                   autofocus>
                            <% if (typeof errors !== "undefined") { %>
                                <% const nameError = errors.find(error => error.path === 'name'); %>
                                <div class="invalid-feedback">
                                   <%= nameError ? nameError.msg : '' %>
                                </div>
                            <% } %>
                        </div>

                        <div class="container-input">
                            <label for="surname">Apellido:</label>
                            <input type="text" name="surname" id="surname" value="<%=values.surname%>"
                                   class="form-control <%= errors && errors.find(error => error.path === 'surname') ? 'is-invalid' : '' %>">
                            <% if (typeof errors !== "undefined") { %>
                                <% const surnameError = errors.find(error => error.path === 'surname'); %>
                                <div class="invalid-feedback">
                                    <%= surnameError ? surnameError.msg : '' %>
                                </div>
                            <% } %>
                        </div>

                        <div class="container-input">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" value="<%=values.email%>"
                                   class="form-control <%= errors && errors.find(error => error.path === 'email') ? 'is-invalid' : '' %>">
                            <% if (typeof errors !== "undefined") { %>
                                <% const emailError = errors.find(error => error.path === 'email'); %>
                                <div class="invalid-feedback">
                                    <%= emailError ? emailError.msg : '' %>
                                </div>
                            <% } %>
                        </div>

                        <div class="container-input">
                            <label for="phone">Teléfono:</label>
                            <input type="text" name="phone" id="phone" value="<%=values.phone%>"
                                   class="form-control <%= errors && errors.find(error => error.path === 'phone') ? 'is-invalid' : '' %>">
                            <% if (typeof errors !== "undefined") { %>
                                <% const phoneError = errors.find(error => error.path === 'phone'); %>
                                <div class="invalid-feedback">
                                    <%= phoneError ? phoneError.msg : '' %>
                                </div>
                            <% } %>
                        </div>

                        <div class="container-input">
                            <label for="message">Mensaje:</label>
                            <textarea name="message" id="message"
                                class="form-control <%= errors && errors.find(error => error.path === 'message') ? 'textarea-error' : '' %>">
                                <%=values.message%>
                            </textarea>
                            <% if (typeof errors !== "undefined") { %>
                                <% const messageError = errors.find(error => error.path === 'message'); %>
                                <div class="textarea-error-msg">
                                    <%= messageError ? messageError.msg : '' %>
                                </div>
                            <% } %>
                        </div>
                        <div class="container-btn">
                            <button>Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
